﻿
@{
    ViewBag.Title = "Index";
}

<h2>Movie List</h2>

<table>
    <tr>
        <td>
            Movie Title
        </td>
        <td>
            Plot
        </td>
        <td>
            Release Year
        </td>
    </tr>
    @{ foreach (var movie in ViewBag.Movies)
        {
            <td>movie.Name</td>
            <td>movie.Plot</td>
            <td>movie.ReleaseYear</td>
        }
    }
</table>